.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Flash {
  from {
    border: solid transparent;
    color: transparent;
  }
  to {
    border: solid greenyellow;
    color: greenyellow;
  }
}

.card {
  margin: 20px;
}

.img-fluid {
  max-width: 75px;
}

.navbar {
  margin-bottom: 20px;
}

.nav-link {
  color: rgba(128, 128, 128, 0.384);
}

.navbar-brand {
  color: black;
}

.nav-link:hover {
  color: darkred;
}

.active {
  color: darkred;
}

button:hover {
  cursor: pointer;
}

.btn-dark {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-dark:enabled {
  background-color: darkblue;
  border: solid yellow;
  color: yellow;
}

.btn-dark:disabled {
  background-color: rgba(2, 2, 70, 0.726);
  border: solid red;
  color: darkred;
}

.input:invalid {
  border: dashed red;
}

.input:valid {
  border: solid greenyellow;
}

.canvas {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -9;
}

form {
  padding-left: 20px;
  padding-right: 20px;
}