.App {
  text-align: center;
}

.img-fluid {
  max-width: 75px;
}

button:hover {
  cursor: pointer;
}

#loginTitle,
#homeTitle,
#portalTitle {
  margin-top: 5%;
}

.modal-header {
  background: darkblue;
  border: solid yellow;
  color: yellow;
}